:root{
    --PretoEsverdeado:#080d0a;
    --VerdeVibrante:#3dd68c;
    --VerdeSuave:#7A9E82;
    --VerdeClaro:#A8B5AF;
    --Dourado:#f0a500;
    --BrancoSuave:#F8F9FA;
    --VerdeVibranteEscuro: #2FB876;
    --PretoEsverdeadoClaro: #12201A;
    --VerdeEscuro:#101810;
}
*{
    box-sizing:border-box;
    padding:0px;
    margin:0px;
    text-decoration:none;
    list-style:none;
    font-family:sans-serif;
}
body{
    background-color:var(--PretoEsverdeado);
}
/* HEADER___________________________________________________________________________________________________________________________________________________________________ */
header{
    background-color:var(--PretoEsverdeado);
    color:var(--BrancoSuave);
    padding:12px;
    border-bottom:1px solid var(--VerdeVibrante);
    position:sticky;
    top:0;
    z-index:1000;
    opacity:0.985;
}
.cabecalho{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0 80px 0 80px;
}
/* Logo Clicavel */
#LogoLink{
    color:var(--BrancoSuave);
    display:flex;
    align-items:center;
    gap:10px;
    padding-left:10px;
}
#LogoLink h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight:300;
}
#LogoLink img{
    height:30px;
    background-color:var(--VerdeVibrante);
    border-radius:50%;
    padding:2px;
    overflow:visible;
}
/* Links */
#Links ul{
    display:flex;
    gap:100px;
}
#Links ul li a{
    color:var(--VerdeSuave);
}
#Links ul li a:hover{
    color:var(--BrancoSuave);
}
/* Carrinho e orcamento */
#Carrinho{
    display:flex;
    align-items:center;
    gap:20px;
    padding-right:20px;
}
#Carrinho a img{
    height:40px;
    color:var(--BrancoSuave);
}
#Carrinho a img{
    background-color:var(--PretoEsverdeado);
    padding:6px;
    border-radius:50%;
    overflow:visible;
}
#Carrinho a img:hover{
    background-color:var(--PretoEsverdeadoClaro);
}
#Carrinho button{
    background-color:var(--VerdeVibrante);
    padding:12px 20px;
    border-radius:20px;
    border:none;
    font-weight:520;
    font-size:0.95rem;
}
#Carrinho button:hover{
    background-color:var(--VerdeVibranteEscuro);
}

/* MAIN_____________________________________________________________________________________________________________________________________________________________________ */
main{
    background-color:var(--PretoEsverdeado);
    color:var(--BrancoSuave);
    padding:100px;
    display:flex;
    flex-direction:column;
}
/* Primeira Parte / Texto Introdutorio*/
#FuturoSolar{
    padding-bottom:100px;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:60px;
    margin-bottom:150px;
}
.Texto{
    font-family:Verdana, sans-serif;
    flex:0 0 33%;
    max-width:500px;
}
#Topico1{
    display:flex;
    color:var(--VerdeVibrante);
    background-color:var(--PretoEsverdeadoClaro);
    border:1px solid var(--VerdeVibrante);
    padding:6px 14px;
    border-radius:50px;
    font-size:13px;
    font-weight:550;
    margin-bottom:20px;
    align-items:center;
    max-width:270px;
    max-height:28px;
}
#Topico1 img{
    height:30px;
}
.Texto h1{
    font-size:70px;
    font-weight:500;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Texto h1 span{
    color:var(--VerdeVibrante);
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Texto p{
    font-size:18px;
    color:var(--VerdeSuave);
    padding:20px 20px 20px 0;
    line-height:1.6;
}
#IrProdutos{
    border:none;
    padding:10px 20px;
    border-radius:20px;
    background-color:var(--VerdeVibrante);
    display:inline-flex;
    align-items:center;
    gap:6px;
    font-weight:550;
    margin-right:20px;
}
#IrProdutos img{
    height:20px;
}
#IrProdutos:hover{
    background-color:var(--VerdeVibranteEscuro);
}
#ComoFunciona{
    border:1px solid var(--VerdeVibrante);
    padding:12px 25px;
    border-radius:20px;
    background-color:var(--PretoEsverdeado);
    color:var(--BrancoSuave);
    font-weight:550;
}
#ComoFunciona:hover{
    background-color:var(--PretoEsverdeadoClaro);
}
/* Primeira Parte / Caixas com Dados */
.Dados{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
}
.box{
    background-color:var(--PretoEsverdeadoClaro);
    border:1px solid var(--VerdeVibrante);
    border-radius:20px;
    padding:25px;
    display:flex;
    flex-direction:column;
    gap:5px;
}
.box h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:30px;
    color:var(--VerdeVibrante)
}
.box p{
    font-size:15px;
    color:var(--VerdeSuave);
}
/* Segunda Parte / Energia Sustentavel */
#EnergiaSustentavel{
    display:flex;
    flex-direction:column;
    font-family:'JetBrains Mono', 'Courier New', Courier, monospace;
}
#Topico2{
    color:var(--VerdeVibrante);
    font-size:13px;
    margin-bottom:30px;
}
#EnergiaSustentavel h2{
    color:var(--BrancoSuave);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:50px;
    flex:0 0 40%;
    max-width:700px;
    margin-bottom:50px;
}
.Informacoes{
    display:flex;
    flex-direction:row;
    background-color:var(--VerdeEscuro);
    border:1px solid var(--VerdeSuave);
    border-radius:20px;
    overflow:hidden;
    margin-bottom:200px;
}
.cards{
    display:flex;
    flex-direction:column;
    align-items:baseline;
    padding:30px;
    gap:20px;
    border-right:1px solid var(--VerdeSuave);
}
.cards:hover{
    background-color:var(--PretoEsverdeadoClaro);
}
.cards img{
    height:45px;
    border:1px solid var(--VerdeSuave);
    border-radius:20%;
    padding:10px;
}
.cards h5{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:20px;
}
.TextoEnergias{
    color:var(--VerdeSuave);
    line-height:1.6;
}
#EstatisticasCards{
    color:var(--VerdeVibrante);
    font-size:15px;
}
.LinhaDivisoria{
    display:block;
    width:100%;
    height:1px;
    background-color:var(--VerdeSuave);
    margin:1px 0;
    opacity: 0.5;
}
/* Segunda Parte / Impacto Real */
#ImpactoReal{
    display:flex;
    flex-direction:column;
    gap:30px;
    flex:0 0 40%;
    max-width:700px;
    margin-bottom:200px;
}
#ImpactoReal h4{
    color:var(--VerdeVibrante);
    font-family:'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight:500;
    font-size:15px;
}
#ImpactoReal h2{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:40px;
}
#ImpactoReal p{
    color:var(--VerdeSuave);
}
/* Parte 3 / Loja */
#Produtos{
    display:flex;
    flex-direction:column;
    gap:30px;
}
#Produtos h5{
    color:var(--VerdeVibrante);
    font-family:'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight:500;
    font-size:15px;
}
#TextoProdutos{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
}
#TextoProdutos h2{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:50px;
}
#TextoProdutos p{
    color:var(--VerdeSuave);
    flex:0 0 40%;
    max-width:400px;
}
#ProdutosInicio{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    gap:20px;
    margin-bottom:170px;
}
.CardsProdutos{
    background-color:var(--PretoEsverdeadoClaro);
    border:1px solid var(--VerdeSuave);
    border-radius:20px;
    overflow:hidden;
    max-width:400px;
    max-height:540px;
}
.CardsProdutos:hover{
    border:2px solid var(--VerdeVibranteEscuro);
}
.ImagemProduto img{
    height:310px;
}
.TextoCard{
    display:flex;
    flex-direction:column;
    padding:20px;
    gap:8px;
    min-height:400px;
}
.TextoCard h4{
    color:var(--BrancoSuave);
    font-weight:500;
    font-size:20px;
}
.TextoCard ul li{
    color:var(--VerdeSuave);
    font-weight:500;
    font-size:15px;
    display:flex;
    align-items:center;
    gap:8px;
}
.TextoCard ul li img{
    height:15px;
}
.TextoCard del{
    text-decoration:line-through;
    color:var(--VerdeSuave);
    margin-top:12px;
    margin-bottom:-10px;
}
.TextoCard span{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.TextoCard span button{
    background-color:var(--VerdeVibrante);
    color:var(--VerdeEscuro);
    padding:9px 17px;
    border:none;
    border-radius:20px;
    font-weight:600;
    display:flex;
    align-items:center;
    gap:5px;
}
.TextoCard span button:hover{
    background-color:var(--VerdeVibranteEscuro);
}
.TextoCard span button img{
    height:15px;
}
.preco{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:23px;
}
/* Terceira Parte Duvidas */
#Duvidas{
    display:flex;
    flex-direction:row;
    gap:150px;
    margin-bottom:150px;
}
#Topico3{
    display:flex;
    flex-direction:column;
    gap:20px;
    flex:0 0 30%;
}
#SecaoDuvidas h5{
    color:var(--VerdeVibrante);
    font-family:'JetBrains Mono', 'Courier New', Courier, monospace;
    font-weight:500;
    font-size:15px;
    margin-bottom:30px;
}
#Topico3 h2{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:50px;
}
#Topico3 p{
    color:var(--VerdeSuave);
}
#Respostas ul{
    display:flex;
    flex-direction:column;
    gap:30px;
    max-width:830px;
}
.FAQs{
    display:flex;
    flex-direction:column;
    gap:20px;
    border-bottom:1px solid var(--VerdeSuave);
    padding-bottom:20px;
}
.FAQs summary{
    color:var(--BrancoSuave);
    font-weight:500;
    font-size:18px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:830px;
}
.FAQs summary img{
    height:22px;
}
.FAQs p{
    color:var(--VerdeSuave);
    font-weight:500;
    font-size:16px;
}
#Cadastro{
    background-color:var(--VerdeEscuro);
    display:flex;
    flex-direction:row;
    border:1px solid var(--VerdeVibrante);
    border-radius:20px;
    padding:80px 60px 80px 60px;
    gap:50px;
}
#TextoCadastro{
    display:flex;
    flex-direction:column;
    gap:20px;
    flex:0 0 45%;
}
#TextoCadastro h2{
    color:var(--BrancoSuave);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:500;
    font-size:50px;
}
#TextoCadastro p{
    color:var(--VerdeSuave);
    font-weight:500;
    font-size:18px;
}
#InputCadastro{
    display:flex;
    flex-direction:column;
    gap:15px;
}
#InputCadastro input{
    background-color:var(--PretoEsverdeadoClaro);
    padding:15px;
    border:1px solid var(--VerdeVibrante);
    border-radius:12px;
    width:600px;
    font-weight:600;
    color:var(--BrancoSuave);
}
#InputCadastro button{
    color:var(--PretoEsverdeado);
    font-weight:600;
    background-color:var(--VerdeVibrante);
    padding:15px;
    border:none;
    border-radius:12px;
}
#InputCadastro small{
    color:var(--VerdeSuave);
    font-weight:500;
    font-size:13px;
    margin-left:130px;
}

/* FOOTER____________________________________________________________________________________________________________________________________________________________________ */
footer{
    background-color:var(--PretoEsverdeado);
    color:var(--BrancoSuave);
    border-top:1px solid var(--VerdeVibrante);
    display:flex;
    justify-content:space-between;
    padding:20px;
    align-items:center;
}
footer img{
    height:30px;
    background-color:var(--VerdeVibrante);
    border-radius:50%;
    padding:2px;
}
#LogoFooter{
    display:flex;
    align-items:center;
    gap:10px;
}
#PrivacidadeFooter{
    display:flex;
    gap:20px;
}
footer small{
    color:var(--VerdeSuave);
}
#PrivacidadeFooter p a{
    color:var(--VerdeSuave);
    font-size:14px;
}
#PrivacidadeFooter p a:hover{
    color:var(--BrancoSuave);
}